:root {
    --color-blue: #31a2c4;
    --color-white: #ffffff;
    --color-dark-grey: #1f1f22fb;
    --color-medium-grey: #1c1c1f;
    --color-light-grey: #d2d6dc;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--color-medium-grey);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}


    .header{
        text-align: center;
        background-color: rgb(141, 162, 230);
       
    }
     header h1{
        font-size: 3.5rem;
        color:  var(--color-dark-grey);
     }
    
     .footer{
        font-size: 1.3rem;
        text-align: center;
        background: var(--color-dark-grey);
        color: var(--color-light-grey);
        justify-self: flex-end;
        margin-left: 18px;
     }
    
     .footer a {
        color: var(--color-white);
     }
    